Django==1.3
Fabric==1.0.1
PIL==1.1.7
South==0.7.3
django-userena==1.0.2
django-floppyforms==0.4.6
django-form-utils==0.2.0
django-compressor==0.9.2
-e git://github.com/subsume/django-filter-actually-maintained.git#egg=django_filter
django-debug-toolbar==0.8.5
-e git://github.com/dominno/django-moderation.git#egg=django-moderation
django-pagination==1.0.7
-e git://github.com/lukeman/django-sorting.git#egg=django_sorting
psycopg2==2.4
django-stdimage==0.2
