Django==1.3
Fabric==1.0.1
PIL==1.1.7
South==0.7.3
django-debug-toolbar==0.8.5
-e git://github.com/subsume/django-filter-actually-maintained.git#egg=django_filter
django-floppyforms==0.4.4
django-form-utils==0.2.0
django-guardian==1.0.2
-e git://github.com/sirex/django-mockups.git#egg=django_mockups-0.4.8-py2.7-dev
-e git://github.com/dominno/django-moderation.git#egg=django-moderation
django-pagination==1.0.7
-e git://github.com/lukeman/django-sorting.git#egg=django_sorting
-e git+git://github.com/bread-and-pepper/django-userena.git#egg=userena
easy-thumbnails==1.0-alpha-17
httplib2==0.6.0
#johnny-cache==0.3.1
-e git://github.com/simplegeo/python-oauth2.git#egg=oauth2
paramiko==1.7.6
psycopg2==2.4
pycrypto==2.3
#pylibmc==1.1.1
#python-memcached==1.47
wsgiref==0.1.2
