{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}
  <fieldset>
	<p class="form_adson"> {% trans "Pour mettre un bien en vente ou enregistrer vos recherches, vous devez vous inscrire." %}</p>
    <legend>Signup</legend>
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }} 
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans "Signup"%}" />
    {% url userena_signin as userena_signin_url %}
    <p class="form_adson" >{% blocktrans %}Si vous êtes déjà inscrit, <a href="{{ userena_signin_url }}">connectez-vous</a>.{% endblocktrans %}</p>
</form>
{% endblock %}
