#search_header {
    background-color: #FFB82E;
}

.navbar.navbar-fixed-top {
	border-bottom:5px solid #FFB82E;
}
.navbar.navbar-fixed-bottom {
	border-top:5px solid #FFB82E;
}
.sanscom_font {
	color:#FFB82E;
}

.icon-map-custommarker {
  background-image: url("../img/icon-home.png");
  background-position: 0;
}