/*
.navbar .brand {
	background: url("../img/apartment.png") no-repeat scroll 0 0px transparent;
}
*/

.btn-primary {
	background-image:none;
	background-color: #9D81A1;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #9D81A1;
}

a{
	/*color:#20B2AB;*/
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #9D81A1;
    color: #FFFFFF;
}
#search_header {
    background-color: Pink;
}

.navbar.navbar-fixed-top {
	border-bottom:5px solid Pink;
}
.navbar.navbar-fixed-bottom {
	border-top:5px solid Pink;
}
.sanscom_font {
	color:Pink;
}

#results h3 {
	background-color:Pink;
}

.icon-map-custommarker {
  background-image: url("../img/icon-apartment.png");
  background-position:0;
}