.btn-primary {
	background-image:none;
	background-color: #9D81A1;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #9D81A1;
}

#search_header {
    background-color: Pink;
}

.navbar.navbar-fixed-top {
	border-bottom:5px solid Pink;
}
.navbar.navbar-fixed-bottom {
	border-top:5px solid Pink;
}
.sanscom_font {
	color:Pink;
}

.icon-map-custommarker {
  background-image: url("../img/icon-apartment.png");
  background-position:0;
}