@font-face {
	font-family: Cafeta;
	src: url('../font/cafeta.ttf');
}

@font-face {
	font-family: TypoSlabserif;
	src: url('../font/TypoSlabserif-Light.ttf');
}

header {
	color:white;
}
footer {
	color:#ccc;
}


header h1 { 
	font-family: Cafeta, sans-serif; 
}

#subtitle { 
	font-family: TypoSlabserif, sans-serif;
	text-align:center;
}

