header {
    border-bottom: 5px solid Pink;
}

footer {
    border-top: 5px solid Pink;
}

.sanscom_font {
	color:Pink;
}

.bloc_title {
    background-color: Pink;
}

#address, #localize {
	border: 1px solid Pink;
}

#header > h1 {
    background: url("../img/apartment.png") no-repeat scroll 0 10px transparent;
}

.icon {
	background: url("../img/apartment.png") no-repeat transparent;
	background-size: 19px 19px;

}

.userena form input[type="submit"], button[type="submit"] {
    background-color: #9d81a1;
}

#map_locate {
	height:248px;
}
/* #9d81a1 */