


.olLayerGoogleCopyright.olLayerGoogleV3, .olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint{
	display:none;
}

.olControlZoomPanel div {
    background-image: url("../img/zoom-20x20-sprite.png");
    cursor: pointer;
}
.olControlZoomToMaxExtentInactive {
    display: none;
}
.olControlZoomInItemInactive {
    background-position: -60px 0;
    height: 20px;
    left: 600px;
    position: absolute;
    top: 10px;
    width: 20px;
}
.olControlZoomOutItemInactive {
    background-position: -20px 0;
    height: 20px;
    left: 600px;
    position: absolute;
    top: 35px;
    width: 20px;
}
.olControlZoomInItemInactive:hover {
    background-position: -40px 0;
}
.olControlZoomOutItemInactive:hover {
    background-position: 0 0;
}


/**
 * Editing and navigation icons.
 * (using the editing_tool_bar.png sprint image)
 */
.olControlEditingToolbar {
    /*margin: 5px 5px 0 0;*/
}
.olControlEditingToolbar div {
    /*background-image: url("../img/editing_tool_bar.png");*/
    /*background-repeat: no-repeat;
    margin: 0 0 5px 5px;
    width: 24px;
    height: 22px;*/
    cursor: pointer
}
/* positions */
.olControlEditingToolbar {
    left: 10px;
    top: 10px;
    background-color:rgba(0,0,0,0.6);
    
}
/* layouts */
.olControlEditingToolbar > div {
    /*float: right;*/
	background-color:#F6F4F2;
	color:#666;
	padding:3px;
	margin-bottom:3px;
	font-size:0.9em;	
}
.olControlEditingToolbar > div:last-child {
	margin-bottom:0px;
}
/* individual controls */

.olControlNavigationItemInactive {
	display:none;
}

.olControlNavToolbar .olControlNavigationItemInactive,
.olControlEditingToolbar .olControlNavigationItemInactive {
    /*background-position: -103px -1px;*/
	/*background-color:#F6F4F2;*/
	background-color:rgba(0,0,0,0);
	color:White;
}
.olControlNavToolbar .olControlNavigationItemActive ,
.olControlEditingToolbar .olControlNavigationItemActive  {
    /*background-position: -103px -24px;*/
	background-color:#fff;
	color:#000;
}
.olControlNavToolbar .olControlZoomBoxItemInactive {
    /*background-position: -128px -1px;*/
	background-color:#F6F4F2;
}
.olControlNavToolbar .olControlZoomBoxItemActive  {
    /*background-position: -128px -24px;*/
	background-color:#fff;
	color:#000;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
    /*background-position: -77px -1px;*/
	background-color:#F6F4F2;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
    /*background-position: -77px -24px;*/
	background-color:rgba(0,0,0,0);
	color:White;
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
    /*background-position: -51px -1px;*/
	background-color:#F6F4F2;
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
    /*background-position: -51px -24px;*/
	background-color:#fff;
	color:#000;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive{
    /*background-position: -26px -1px;*/
	/*background-color:#F6F4F2;*/
	background-color:rgba(0,0,0,0);
	color:White;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
    /*background-position: -26px -24px;*/
	background-color:#fff;
	color:#000;
}
.olControlEditingToolbar .olControlModifyFeatureItemInactive{
    /*background-position: -26px -1px;*/
	background-color:rgba(0,0,0,0.0);
	color:White;
}
.olControlEditingToolbar .olControlModifyFeatureItemActive {
    /*background-position: -26px -24px;*/
	background-color:#fff;
	color:#000;
}

