html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -35px; 
	/* the bottom margin is the negative value of the footer's height */
	/* attention -35 = -30 -5 from below */
}
footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}