@font-face {
	font-family: Cafeta;
	src: url('../font/cafeta.ttf');
}

@font-face {
	font-family: TypoSlabserif;
	src: url('../font/TypoSlabserif-Light.ttf');
}

body {
	padding-top:60px; 
	padding-bottom:45px;
	background-color:#EFF0F2;
}

#content {
	background-color:#F7F7F7;
}

.nav.nav-tabs {
	background-color:#EFF0F2;
	font-family: Cafeta;
}

.nav.nav-tabs .active a {
	background-color:#F7F7F7;
	
}

.navbar .brand {
    color: white;
    font-family: Cafeta,sans-serif;
    font-size: 2.55em;
    padding-bottom: 0;
    padding-top: 0.5px;
}

a {
	color:black;
}

a:hover {
	color:black;
}

.alert-info {
    border-color: transparent;
    color: #888;
}

.custom-well {
    background-color: transparent;
    border: none;
    border-radius: 0px
    box-shadow: none;
    margin-bottom: 0px;
    min-height: 20px;
    padding: 10px;
}

#map {height: 300px;}

#map_locate {
	width:100%;
	height:373px;
}

#map label {
	width: auto; display:inline; 
}

#map img { max-width: none; }

caption {text-align:left}

figure {
	margin:0;
	padding:0;
}

.selected {
	border:2px solid black;
}

#content .nav.nav-tabs a {
	font-size:22px;
	color:black;
}

.subtitle {
	text-align:center; 
	font-family: TypoSlabserif;
	font-weight:normal;font-size:2.3em
}

.draw-icon {
    background-color: #FFFFFF;
    border: 1px solid #777777;
    margin-bottom: 0;
    padding: 4px;
    vertical-align: bottom;
}

.home_help_text {
	margin:0 0 0 25px;
}