{% extends "base-menupage.html" %}
{% load l10n pagination_tags sorting_tags ads_tag utils_tags compress %}

{% block media %}	
	{{ filter.form.media.css }}
	{{ filter.form.media.js }}
	<script>
		$(document).ready(function(){	
			$('.atom_content').each(function(index) {
				if($(this).find('.has_value').length == 0){
					$(this).hide('fast')
				}else {
					$(this).parent().find('.icon').removeClass('plus').addClass('cross')
					$(this).parent().find('.extend').html('-')
				}
			})
			$('.extend').click(function(evt){
				if($(this).html() == '+'){
					$(this).html('-')
					$(this).parent().next().show('fast')
				}else{
					$(this).html('+')
					$(this).parent().next().find(':input').val('').removeAttr('checked').removeAttr('selected')
					$(this).parent().next().hide('fast')
				}
				evt.stopPropagation()
			})
			$('.atom_title').click(function(evt){ 
				$(this).find('.extend').trigger('click')
			})

    	});
	</script>

    <script type="text/javascript">
    $(function (){
		$('.result_header a').click(function(evt){
			$("#search").attr('action', $(this).attr('href'))
			$("#search").submit()
			return false
		})
    });
    </script>
{% endblock media %}


{% block form-top %}
<form action="{% url search %}" method="POST" id="search" >
{% endblock form-top %}

{% block messages %}
{% if search %}
	{% if messages %}
	<div id="messages">
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% autoescape off %}{{ message }}{% endautoescape %}</li>
		{% endfor %}
	</ul>
	</div>
	{% endif %}
{% else %}
<div id="subtitle">Annonces immobilières <b>sans intermédiaires</b> & <b>géolocalisées</b></div>
{% endif %}	
{% endblock messages %}

{% block menu %}
	{% include 'ads/menu.html' with selected=1 only %}
{% endblock menu %}


{% block map %}
<div class="bloc_title">
	<ol style="margin-top:0;padding-top:5px; margin-bottom:0; line-height:30px; font-size:1.2em;">
	<li>Centrer la carte sur votre <a id="localize" href="javascript:localizeMe()">localisation actuelle</a> ou <input type="text" id="address" style="" placeholder="indiquer une adresse"/><input type="button" id="center_map" value="centrer la carte" style="display:none"/></li>
	<li>Cliquer sur la carte pour dessiner votre zone de recherche</li>
	</ol>
</div>
<div id="maps">
	<div class="search_form location-field" style="padding-top:0px;margin-top:0px">
	<!-- LOCATION FIELD -->
	<div class="atom {{ fieldset.classes }}" >
		{% for field in filter.form.fieldsets.location %}
			{% if field.is_hidden %}
				{{ field }}
				{% else %}
				<div style="padding-top:8px; padding-top:0px;"> {{ field }} {{ field.errors }}</div>
				{% if field.value %}
				<script>			
						var location_value = true
				</script>
				{% else %}
				<script>
						var location_value = false
				</script>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>

	

			
</div>

{% endblock map %}

{% block results %}
{% include "ads/search_results.html" %}
{% endblock results %}



{% block filters %}
<div class="bloc_title">
	<button type="submit" value="search" class="fancy_button" name="search" id="search_button">
		3. Rechercher
	</button>
</div>
<div id="filters">

	{{ filter.form.errors }}
	
	


    

	


		{% csrf_token %}
		{% if filter.form.non_field_errors %}{{ filter.form.non_field_errors }}{% endif %}
	
	<div class="search_form non-location-field" >
		<div style="padding-left:4px"><b>Critères optionnels</b></div>
		<!-- NON LOCATION FIELDS -->	
		{% for fieldset in filter.form.fieldsets %}
			{% if fieldset.name != 'location' %}
			<div class="atom {{ fieldset.classes }}">
				{% if fieldset.legend != fieldset.name %}
				<h3 class="atom_title"><a class="extend">+</a> <!-- <a class="pill button extend"><span class="plus icon"></span></a> -->{{ fieldset.legend }}</h3>
				{% else %}
				{% endif %}
				<div class='{% if fieldset.legend != fieldset.name %}atom_content{% endif %}'>
					{% if fieldset.description %}
					<p class="description">{{ fieldset.description }}</p>
					{% endif %}
						<table>
							{% for field in fieldset %}
								{% if field.is_hidden %}
									{{ field }}
								{% else %}
									<tr{{ field.row_attrs }}>
										<td>{{ field.label_tag }}</td>
										<td class="{% has_value field %}">
											{{ field }}
											{% if field.help_text %}<br />{% autoescape off %}<span class="help">{{ field.help_text }}</span>{% endautoescape %}{% endif %}
											{% if field.errors %}<br />{{ field.errors }}{% endif %}
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
		

				

</div>
{% endblock %}

{% block form-bottom %}
</form>
{% endblock form-bottom %}

