{% extends "base.html" %}
{% load l10n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load ads_tag %}
{% load utils_tags %}
{% load compress %}

{% block media %}
	
	
	{{ filter.form.media.css }}
	
	{{ filter.form.media.js }}

			
	<script>
		$(document).ready(function(){	
			var help_text = $("<div class='tooltip'></div>")
			help_text.hide()
			var h = help_text.appendTo('#content');
			h.html("Cliquez sur la carte pour dessiner le contour de votre zone de recherche.<br />Double-cliquez pour fermer la zone.")
			$('.olControlEditingToolbar > div').click(function(evt){
				//console.log(this)
				help_text.show()
				if($(this).attr('class').indexOf("Modify") !=-1 ){
					h.html("Selectionner la zone que vous avez dessine, et deplacer les ancres pour la modifier")
				}
				if($(this).attr('class').indexOf("Draw") !=-1 ){
					h.html("Cliquez sur la carte pour dessiner le contour de votre zone de recherche.<br />Double-cliquez pour fermer la zone.")
				}
				if($(this).attr('class').indexOf("Navigation") !=-1 ){
					h.html('Selectionner-deplacer la carte')
				}
				if($(this).attr('class').indexOf("View") !=-1 ){
					h.html('Cliquer sur une icône sur la carte pour consulter l\'annonce')
				}
			})
			
			{% if search %}
			{% if filter.qs %}
				h.html('Cliquer sur une icône sur la carte pour consulter l\'annonce')
			{% endif %}
			{% endif %}
					
			$('#id_location_span_map .olMapViewport').mousemove(function(evt){
				h.css({'z-index':10000, 'position':'fixed', 'top':evt.pageY+12-$("html").scrollTop(), 'left':evt.pageX+12})	
			})
			.mouseenter(function(evt){h.show()})
			.mouseleave(function(evt){h.hide()})
			//$('.olControlEditingToolbar').mouseover(function(evt){h.hide()})
			// init less important parameters
			$('.atom_content').each(function(index) {
				if($(this).find('.has_value').length == 0){
					$(this).hide('fast')
				}else {
					$(this).parent().find('.icon').removeClass('plus').addClass('cross')
				}
			})
			$('.extend').click(function(evt){
				if($(this).html() == '+'){
					$(this).html('-')
					$(this).parent().next().show('fast')
				}else{
					$(this).html('+')
					$(this).parent().next().find(':input').val('').removeAttr('checked').removeAttr('selected')
					$(this).parent().next().hide('fast')
				}
				evt.stopPropagation()
			})
			$('.atom_title').click(function(evt){ 
				$(this).find('.extend').trigger('click')
			})

    	});
	</script>

    <script type="text/javascript">
    $(function (){
		$('.result_header a').click(function(evt){
			$("#search").attr('action', $(this).attr('href'))
			$("#search").submit()
			return false
		})
    });
    </script>


{% endblock %}


{% block content %}

	{{ filter.form.errors }}

    <form action="{% url search %}" method="POST" id="search">
		{% csrf_token %}
		{% if filter.form.non_field_errors %}{{ filter.form.non_field_errors }}{% endif %}
	
	<div  class="search_form non-location-field" style="">
		
		<!-- FORM ACTIONS -->
		<div class="search_buttons">
		<button type="submit" value="search" name="search"><span class="magnifier icon"></span>Chercher</button>
		<!-- <a class="button" href="{% url search %}"><span class="cross icon"></span>Initialiser</a> -->
		
		{% if search and user.is_authenticated %}
        	<button type="submit" value="save and search" name="save_and_search" class="button"><span class="pen icon"></span>Sauver la recherche</button>
		{% else %}
		<!--<br />Pour sauvegarder vos recherches, <a href="{% url userena_signup %}">inscrivez-vous</a> ou <a href="{% url userena_signin %}">connectez-vous</a>.
		-->
			<button type="submit" disabled="disabled" value="save and search" name="save_and_search" class="button"><span class="pen icon"></span>Sauver la recherche</button>
		{% endif %}	
		
		</div>		
		
		
		<!-- NON LOCATION FIELDS -->	
		{% for fieldset in filter.form.fieldsets %}
			{% if fieldset.name != 'location' %}
			<div class="atom {{ fieldset.classes }}">
				{% if fieldset.legend != fieldset.name %}
				<h3 class="atom_title" style="cursor:pointer"><a class="extend">+</span></a> <!-- <a class="pill button extend"><span class="plus icon"></span></a> -->{{ fieldset.legend }}</h3>
				{% else %}
				{% endif %}
				<div class='{% if fieldset.legend != fieldset.name %}atom_content{% endif %}'>
					{% if fieldset.description %}
					<p class="description">{{ fieldset.description }}</p>
					{% endif %}
						<table>
							{% for field in fieldset %}
								{% if field.is_hidden %}
									{{ field }}
								{% else %}
									<tr{{ field.row_attrs }}>
										<td>{{ field.label_tag }}</td>
										<td class="{% has_value field %}">
											{{ field }}
											{% if field.help_text %}<br />{% autoescape off %}<span class="help">{{ field.help_text }}</span>{% endautoescape %}{% endif %}
											{% if field.errors %}<br />{{ field.errors }}{% endif %}
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
		
	<div style="margin-right:265px; " >
		
		<div class="search_form location-field">
		<!-- LOCATION FIELD -->
		<div class="atom {{ fieldset.classes }}" style="height:438px">
			<!--<h2>{{ filter.form.fieldsets.location.legend }}</h2>
			<p class="description">{{ filter.form.fieldsets.location.description }}</p> -->
			
			<!--<img src="{{ STATIC_URL }}img/bandeau.png" />-->
			
			{% for field in filter.form.fieldsets.location %}
				{% if field.is_hidden %}
					{{ field }}
					{% else %}
					<div style="padding:2px"> {{ field }} <br />{{ field.errors }}</div>
					{% if field.value %}
					<script>			
							var location_value = true
					</script>
					{% else %}
					<script>
							var location_value = false
					</script>
					{% endif %}
					{% endif %}
			{% endfor %}
		</div>
		
		</div>
		
		<!-- RESULTS -->

		{% if search %}

		<div id="results" style="padding:10px; padding-right:15px;">
		

		
		
		{% if filter.qs %}
		
		{% autosort filter.qs as sorted_objects %}
		{% autopaginate sorted_objects 10 as object_list %}

		<div id="results_detail" style="display:none;visibility:hidden">
			{% for ad in object_list %}
				{% include 'ads/view_popup.html' %}
			{% endfor %}
		</div>
		
		<div class="atom" >
			<h2>Résultats de la recherche</h2>
			<table>
				<tr class="result_header">
					<th></th>
					<th>{% anchor price "Prix" %}</th>
					<th>{% anchor surface "Surface" %}</th>
					<th>{% anchor habitation_type "Type de bien" %}</th>
					<th>{% anchor nb_of_rooms "Pièces" %}</th>
					<th>{% anchor nb_of_bedrooms "Chambres" %}</th>
				</tr>
				{% for ad in object_list %}
				<tr class="{% cycle 'even' 'odd' %}">
					<td style="text-align:left"><a href="#" onclick="open_popup({{ ad.location.coords.0|unlocalize }}, {{ ad.location.coords.1|unlocalize }}, 'ad_{{ ad.id }}'); return false;"><img height="13px" src="{{ STATIC_URL }}img/home_icon.png" /> consulter l'annonce</a></td>
					<!--<td class="ad_title"><a href="{% url view ad.id %}" class="ajax">{{ ad.title }}</a></td>-->
					<td>{{ ad.price|priceformat }}</td>
					<td>{{ ad.surface }}</td>
					<td>{{ ad.get_habitation_type_display }}</td>
					<td>{{ ad.nb_of_rooms }}</td>
					<td>{{ ad.nb_of_bedrooms }}</td>
					<script>add_home({{ ad.location.coords.0|unlocalize }}, {{ ad.location.coords.1|unlocalize }}, "{% url view ad.id %}", 'ad_{{ ad.id }}')</script>
					<script>
						{% if forloop.first %}
						$(document).ready(function(){
							if(location_value == new Boolean(0)){
								// center map on this location
								center_map({{ ad.location.coords.0|unlocalize }}, {{ ad.location.coords.1|unlocalize }})
							}
						})
						{% endif %}
					</script>
				</tr>
				{% endfor %}
			</table>
			{% paginate %}
		</div>
		{% else  %}
		<div class="atom" >
			<h2>Pas d'annonces correspondant à votre recherche</h2>
		</div>
		{% endif %}

		
		</div>
		
		{% else %}
			<div id="results" style="padding:10px; padding-right:15px;">
			<p>
				<b>{{ total_ads }} annonces de biens en vente, sans intermédiaires et géolocalisés.</b>
			</p>
			</div>
		{% endif %}
				
	</div>
		
		
    </form>
{% endblock %}