{% extends "base.html" %}
{% load ads_tag %}
{% load l10n %}

{% block title %}Vente {{ ad.get_habitation_type_display }} {{ ad.nb_of_rooms }} pièce{{ ad.nb_of_rooms|pluralize }} - {{ ad.price|priceformat }} € - {{ ad.surface }} m²{% endblock %}


{% block javascript %}
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="{{ STATIC_URL }}js/proj4js-combined.js"></script>
	
	<link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL }}css/map.css">
	<!--<script src="{{ STATIC_URL }}js/OpenLayers.js"></script>-->

	
	<script src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>
	
	<script>
	    $(document).ready(function(){
			var source = new Proj4js.Proj('EPSG:4326');    
			var dest = new Proj4js.Proj('EPSG:900913'); 
			var p = new Proj4js.Point({{ ad.location.coords.0|unlocalize }}, {{ ad.location.coords.1|unlocalize }});
			Proj4js.transform(dest, source, p);
			var options = {
				zoom: 12,
				center: new google.maps.LatLng(p.y, p.x),
				mapTypeControl: true,
				panControl: false,
				mapTypeControl: false,
				streetViewControl: false,
				mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
				zoomControl: true,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.SMALL,
					position: google.maps.ControlPosition.TOP_RIGHT
				},
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById('map'), options);

			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(p.y, p.x),
				map: map,
				title:"Annonce",
				icon: new google.maps.MarkerImage('/static/img/home.png')
			});


			/*
			var layer_style = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);
			layer_style.fillOpacity = 0.2;
			layer_style.graphicOpacity = 1; 
					
			var style_blue = OpenLayers.Util.extend({}, layer_style);
			style_blue.strokeColor = "blue";
			style_blue.fillColor = "#3BB9FF";
			style_blue.graphicName = "circle";
			style_blue.pointRadius = 10;
			style_blue.strokeWidth = 2;
			style_blue.strokeLinecap = "butt";
			style_blue.externalGraphic = "/static/img/home_icon.png";

            var map;
            map = new OpenLayers.Map('map');
            map.addControl(new OpenLayers.Control.LayerSwitcher());

            var proj = new OpenLayers.Projection("EPSG:4326");

            var gmap = new OpenLayers.Layer.Google("Google Streets", {
                sphericalMercator: true,
                'maxExtent': new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34)
            });
            var pointLayer = new OpenLayers.Layer.Vector("Point Layer");

            map.addLayers([gmap, pointLayer]);
            var lonlat = new OpenLayers.LonLat({{ ad.location.coords.0|unlocalize }}, {{ ad.location.coords.1|unlocalize }});
            //lonlat.transform(proj, map.getProjectionObject());
            map.setCenter(lonlat, 15);

            var point = new OpenLayers.Geometry.Point({{ ad.location.coords.0|unlocalize }}, {{ ad.location.coords.1|unlocalize }});


            var pointFeature = new OpenLayers.Feature.Vector(point, null, style_blue);
            pointLayer.addFeatures([pointFeature]);
			*/

			$("img[rel]").overlay();

    	});
	</script>
{% endblock %}

{% block css %}
 <style type="text/css">
/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

.simple_overlay img {
	max-width:675px;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url('{{ STATIC_URL }}/img/close.png');
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

</style>

{% endblock %}

{% block main_menu %}
{% endblock %}

{% block content %}

<div id="block_content">
	<h2 style="padding-left:8px;">
		{{ ad.get_habitation_type_display }} {{ ad.nb_of_rooms }} pièce{{ ad.nb_of_rooms|pluralize }} ({{ ad.nb_of_bedrooms }} chambre{{ ad.nb_of_bedrooms|pluralize }})
		{{ ad.price|priceformat }} €
		- {{ ad.surface }} m<sup>2</sup>
	</h2>

	{% if ad.pictures.all %}
	<div class="photo_gallery">
	{% for img in ad.pictures.all %}
		<div class="thumbnail">
		<img src="{% thumbnail img.image 206 150 %}" rel="#img_{{ img.id }}" />
		</div>
	{% endfor %}
	{% for img in ad.pictures.all %}
		<div class="simple_overlay" id="img_{{ img.id }}">
		<img src="{{ img.image.url }}"/>
		<br />
		<b style="color:white;padding-left:4px;">{{ img.title }}</b>
		</div>
	{% endfor %}
	<div style="clear:both"></div>
	{% if ad.pictures.all %}
		<p style="font-size:0.9; color:#555;padding-left:6px;"><i>Cliquez sur les photos pour les agrandir</i></p>
	{% endif %}
	</div>
	{% endif %}
	
	<div style="float:right; padding-right:12px; padding-top:3px">
	<h3>Critères énergétiques</h3>
		
		<table class="energy">
			<tr>
				<th style="width:230px">Consommation énergétique</th>
				<th>Emission de gaz à effets de serre</th>
			</tr>
			<tr>
				<td><div style="background-color:#429e3a; width:40px" class="{%if ad.energy_consumption == 'A' %}selected{% endif %}"><span style="font-size:0.8em">≤ 50</span> <span style="float:right"><b>A</b></span></div></td>
				<td><div style="background-color:#f3ecfd; width:40px" class="{%if ad.emission_of_greenhouse_gases == 'A' %}selected{% endif %}"><span style="font-size:0.8em">≤ 5</span> <span style="float:right"><b>A</b></span></div></td>
			</tr>
			<tr>
				<td><div style="background-color:#4cd540; width:60px" class="{%if ad.energy_consumption == 'B' %}selected{% endif %}"><span style="font-size:0.8em">51 à 90</span> <span style="float:right"><b> B</b></span></div></td>
				<td><div style="background-color:#d8c0f7; width:60px" class="{%if ad.emission_of_greenhouse_gases == 'B' %}selected{% endif %}"><span style="font-size:0.8em">6 à 10</span> <span style="float:right"><b> B</b></span></div></td>
			</tr>
			<tr>
				<td><div style="background-color:#e9ff3f; width:80px" class="{%if ad.energy_consumption == 'C' %}selected{% endif %}"><span style="font-size:0.8em">91 à 150</span> <span style="float:right"><b> C</b></span></div></td>
				<td><div style="background-color:#c8a7f4; width:80px" class="{%if ad.emission_of_greenhouse_gases == 'C' %}selected{% endif %}"><span style="font-size:0.8em">11 à 20</span> <span style="float:right"><b> C</b></span></div></td>
			</tr>
			<tr>
				<td><div style="background-color:#ffff18; width:100px" class="{%if ad.energy_consumption == 'D' %}selected{% endif %}"><span style="font-size:0.8em">151 à 230</span> <span style="float:right"><b> D</b></span></div></td>
				<td><div style="background-color:#bc93f2; width:100px" class="{%if ad.emission_of_greenhouse_gases == 'D' %}selected{% endif %}"><span style="font-size:0.8em">21 à 35</span> <span style="float:right"><b> D</b></span></div></td>
			</tr>
			<tr>
				<td><div style="background-color:#ffdb00; width:120px" class="{%if ad.energy_consumption == 'E' %}selected{% endif %}"><span style="font-size:0.8em">231 à 330</span> <span style="float:right"><b> E</b></span></div></td>
				<td><div style="background-color:#a570ee; width:120px" class="{%if ad.emission_of_greenhouse_gases == 'E' %}selected{% endif %}"><span style="font-size:0.8em">36 à 55</span> <span style="float:right"><b> E</b></span></div></td>
			</tr>
			<tr>
				<td><div style="background-color:#ff9c34; width:140px" class="{%if ad.energy_consumption == 'F' %}selected{% endif %}"><span style="font-size:0.8em">331 à 450</span> <span style="float:right"><b> F</b></span></div></td>
				<td><div style="background-color:#8b4aea; width:140px" class="{%if ad.emission_of_greenhouse_gases == 'F' %}selected{% endif %}"><span style="font-size:0.8em">56 à 80</span> <span style="float:right"><b> F</b></span></div></td>
			</tr>
			<tr>
				<td><div style="background-color:#ff0000; width:160px" class="{%if ad.energy_consumption == 'G' %}selected{% endif %}"><span style="font-size:0.8em">> 450</span> <span style="float:right"><b>G</b></span></div></td>
				<td><div style="background-color:#6200dd; width:160px" class="{%if ad.emission_of_greenhouse_gases == 'G' %}selected{% endif %}"><span style="font-size:0.8em">> 80</span> <span style="float:right"><b> G</b></span></div></td>
			</tr>			
			
		</table>
	</div>

	<div class="view_map" style="padding:3px">
		<div style="width:431px; height:212px" id="map" ></div>
	</div>

	<div style="clear:both"></div>

	<div class="atom">

		
		
		
		
		<div class="bloc_info">
		{% if ad.floor or ad.orientation or ad.ground_floor or ad.duplex or ad.not_overlooked or ad.ground_surface %}
		<h4>Situation du logement</h4>
		<p>
		{% if ad.floor %}{{ ad.floor }}<sup>e</sup> {% if ad.top_floor %}(et dernier){% endif %} étage{% endif %}
		{% if ad.ground_floor %}
		<br />
		Rez-de-chaussé
		{% endif %}
		{% if ad.duplex %}
		<br />
		Duplex
		{% endif %}
		{% if ad.ground_surface %}
		<br />
		Surface du terrain : {{ ad.ground_surface }} m²
		{% endif %}
		{% if ad.not_overlooked %}
		<br />
		Sans vis-à-vis
		{% endif %}
		{% if ad.orientation %}
		<br />
		Orientation : {{ ad.orientation }}
		{% endif %}
		</p>
		{% endif %}
		</div>

		<div class="bloc_info">
		{% if ad.elevator or ad.intercom or ad.digicode or ad.doorman %}
		<h4>A propos de l'immeuble</h4>
		<p>
		{% if ad.elevator %}Ascenseur<br />{% endif %}
		{% if ad.intercom %}Interphone<br />{% endif %}
		{% if ad.digicode %}Digicode<br />{% endif %}
		{% if ad.doorman %}Gardien{% endif %}
		</p>
		{% endif %}
		</div>

		<div class="bloc_info">
		{% if ad.heating or ad.kitchen or ad.duplex or ad.swimming_pool or ad.alarm or ad.air_conditioning or ad.fireplace or ad.cellar or ad.parking or ad.terrace or ad.balcony %}
		<h4>Commodités</h4>
		<p>
		{% if ad.heating %}Chauffage : {{ ad.get_heating_display }}<br />{% endif %}
		{% if ad.kitchen %}Cuisine équipée<br />{% endif %}
		{% if ad.cellar %}Cave<br />{% endif %}
		{% if ad.parking %}Parking {{ ad.get_parking_display }}<br />{% endif %}
		{% if ad.swimming_pool %}Piscine<br />{% endif %}
		{% if ad.alarm %}Alarme<br />{% endif %}
		{% if ad.air_conditioning %}Air conditionné<br />{% endif %}
		{% if ad.fireplace %}Cheminée : {{ ad.get_fireplace_display }}<br />{% endif %}
		{% if ad.terrace %}Terrasse : {{ ad.terrace }} m²<br />{% endif %}
		{% if ad.balcony %}Balcon : {{ ad.balcony }} m²{% endif %}
		</p>
		{% endif %}
		</div>

		<div class="bloc_info">
		{% if ad.separate_dining_room or ad.separate_toilet or ad.bathroom or ad.shower or ad.separate_entrance %}
		<h4>Pièces</h4>
		<p>
		{% if ad.separate_dining_room %}Cuisine séparée<br />{% endif %}
		{% if ad.separate_toilet %} {{ ad.separate_toilet }} toilette{{ ad.separate_toilet|pluralize }} séparée{{ ad.separate_toilet|pluralize }}<br />{% endif %}
		{% if ad.bathroom %} {{ ad.bathroom }} salle{{ ad.bathroom|pluralize }} de bain<br />{% endif %}
		{% if ad.shower %} {{ ad.shower }} douche{{ ad.shower|pluralize }}<br />{% endif %}
		{% if ad.separate_entrance %}Entrée séparée{% endif %}
		</p>
		{% endif %}
		</div>
		
		<div style="clear:both"></div>
		
		</div>
	
	{% if ad.description %}
	<h4>Informations complémentaires</h4>	
	<p>
		{{ ad.description|linebreaksbr  }}
	</p>
	<br />
	{% endif %}		

	<p>
		<i>
			{% comment %}
			Annonce mise en ligne par <a href="{% url userena_profile_detail ad.user_profile.user.username %}">{{ ad.user_profile.user }}</a>
			<br />
			{% endcomment %}
			Date de création de l'annonce : {{ ad.create_date }}, date de mise à jour : {{ ad.update_date }}
		</i>
	</p>

</div>

<div class="atom">
{% if sent_mail %}
{% else %}

{% if user.is_authenticated %}
	<form action="" method="POST" class="pretty_form">
		<div class="form">
			<h2 class="hightlight_title">Contacter le vendeur</h2>
	<table>
		{% csrf_token %}
		{{ contact_form.as_table }}
		<tr>
			<td></td>
			<td><button type="submit">Ecrire au vendeur</button></td>
		</tr>
	</table>
	{% if ad.user_profile.phone_number %}
	
	<div class="form_adson">
	  <p>Ou contactez-le par téléphone, au {{ ad.user_profile.phone_number }}</p>
	</div>
	{% endif %}
		</div>
	</form>
	
{% else %}
	<div class="content">
		<p>Pour écrire au vendeur, <a href="{% url userena_signup %}">inscrivez-vous</a> ou <a href="{% url userena_signin %}">connectez-vous</a> !</p>
	</div>
{% endif %}

{% endif %}
</div>

{% endblock %}