{% extends "base.html" %}

{% block site %}
	{% block messages %}
		{% if messages %}
		<div id="messages">
				{% for message in messages %}
				<div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
					{% autoescape off %}{{ message }}{% endautoescape %}
				</div>
				{% endfor %}
		</div>
		{% endif %}
	{% endblock messages %}
	<div id="content"  class="well" style="padding:0px;border:0px">
	<nav>
	<ul class="nav nav-tabs">
		{% block menu %}
		{% include 'geoads/menu.html' with selected=0 only %}
		{% endblock menu %}
	</ul>
	</nav>
		{% block userena-content %}{% block content %}{% endblock %}{% endblock %}
	</div>
{% endblock site %}