{% load static %}
<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-1.8.13/themes/base/jquery.ui.all.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css">
		
		<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/style.less"> 
		<script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
		
		<script src="{{ STATIC_URL }}jquery-ui-1.8.13/jquery-1.5.1.js" type="text/javascript" charset="utf-8"></script>


		<script type="text/javascript">
		if(typeof console === "undefined") {
			console = { log: function() { } };
		}
		</script>
		
		{% block media %}
		{% endblock %}
		
		{% block javascript %}
		{% endblock %}
		
		{% block css %}
		{% endblock %}
		
	</head>
	<body>
		<div id="site">
			<div id='header'>
				<div id="registration" class="horizontal_menu">
					{% if user.is_authenticated %}
					<a href="{% url userena_profile_detail user.username %}" class="left button"><span class="user icon"></span>Mon compte ({{ user.username }})</a>
					<a href="{% url add %}" class="right button"><span class="plus icon"></span>Proposer un bien</a>
					<a href="{% url userena_signout %}" class="right button"><span class="rightarrow icon"></span>Se déconnecter</a>
					{% else %}
					<a href="{% url userena_signin %}" class="left button">Se connecter</a></li>
					<!--<a href="{% url add %}" class="right button"><span class="plus icon"></span>Proposer un bien</a>-->
					<a href="{% url userena_signup %}" class="right button">S'inscrire</a>
					{% endif %}
				</div>
				<div id="social_links">
					<a href="http://twitter.com/achetersanscom"><img src="{{ STATIC_URL }}img/twitter-logo.png"></a>
					<a href="http://www.facebook.com/album.php?profile=1&id=124133527629884"><img src="{{ STATIC_URL }}img/facebook-logo.png"></a>
				</div>
				<h1><a href="{% url search %}"><sup style="font-size:0.5em">beta</sup>AcheterSansCom.com</a><br /><span class="subtitle">Annonces immobilières sans intermédiaires</span></h1>
			</div>
			<div id='content'>
				{% if messages %}
				<ul class="messages">
    				{% for message in messages %}
    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% autoescape off %}{{ message }}{% endautoescape %}</li>
    				{% endfor %}
				</ul>
				{% endif %}
				<div class="main-content">
					{% comment %}<h2>{% block content_title %}{% endblock %}</h2>{% endcomment %}
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<div id='footer'>
				© AcheterSansCom
			</div>

		</div>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-17174958-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>