{% extends "base.html" %}

{% block site %}
	{% block messages %}
		{% if messages %}
		<div id="messages">
				{% for message in messages %}
				<div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
					{% autoescape off %}{{ message }}{% endautoescape %}
				</div>
				{% endfor %}
		</div>
		{% endif %}
	{% endblock messages %}
	<div id="content"  class="well" style="border:0px">
		{% block userena-content %}{% block content %}{% endblock %}{% endblock %}
	</div>
{% endblock site %}