{% extends "base.html" %}

{% block site %}

{% block form-top %}
{% endblock form-top %}

<div id="messages">
	{% block messages %}
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% autoescape off %}{{ message }}{% endautoescape %}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endblock messages %}
</div>
<ul id="menu">
	{% block menu %}
	{% include 'ads/menu.html' with selected=0 only %}
	{% endblock menu %}
</ul>
<div id="content" >
	{% block content %}
	<div id="main">
		{% block map %}
		{% endblock map %}
		{% block results %}
		{% endblock %}
	</div>
	<div id="right_column">
		{% block filters %}
		{% endblock filters %}
		{% comment %}
		<div id="out">
			<p>Commercials here</p>
		</div>
		{% endcomment %}
	</div>
	{% endblock content %}
</div>

{% block form-bottom %}
{% endblock form-bottom %}

{% endblock site %}