{% load static i18n %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		{% block meta %}
		{% endblock %}
		
		<title>{% block title %}{{ site.name }} | {% trans "Annonces immobilières sans intermédiaires et géolocalisées" %}{% endblock %}</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		{% comment %} twitter-bootstrap {% endcomment %}
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/base.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}{{ SPECIFIC_STYLE }}" />
		
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"  charset="utf-8"></script>
		
		{% block media %}
		{% endblock %}
		
		{% block javascript %}
		{% endblock %}
		
		{% block css %}
		{% endblock %}
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount','{{ Account }}']);
		  _gaq.push(['_setDomainName', '{{ DomainName }}']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					{% include 'site_title.html' %}
					{% include 'site_header_right.html' %}
					<ul class="nav pull-right">
						{% if user.is_authenticated %}
						<li><a href="{% url userena_profile_detail user.username %}" class="focus">{% trans "Mon compte" %}</a></li>
						<li><a href="{% url userena_signout %}">{% trans "Se Déconnecter" %}</a></li>
						{% else %}
						<li><a href="{% url userena_signup %}" id="signup" class="focus" data-content="Inscrivez-vous pour créer une alerte email ou déposer une annonce de recherche pour être contacter directement par les vendeurs." rel="popover" data-original-title="Pourquoi s'inscrire ?">{% trans "S'Inscrire" %}</a></li>
						<script>  
						$(function ()  
							{ $("#signup").popover({'placement':'bottom'});  
						});  
						</script> 
						<li><a href="{% url userena_signin %}">{% trans "Se Connecter" %}</a></li>
						<li class="divider-vertical"></li>
						{% endif %}
					</ul>
						
				</div>
			</div>
		</div>
		<div class="container">
			{% block site %}
			{% endblock site %}
		</div>
    <div class="navbar navbar-fixed-bottom">
			<div class="navbar-inner">
				<div class="container">
			<p class="navbar-text pull-left">© 2011 {{ site.name }}</p>
			<ul class="nav pull-right">
				<li><a href="/a-propos/">{% trans "En savoir plus" %}</a></li>
				<li><a href="/legal/">{% trans "Mentions légales" %}</a></li>
				<li><a href="/cgu/">{% trans "Conditions d'utilisation" %}</a></li>
			</ul>
				</div>
			</div>
    </div>


	</body>
</html>