{% load static i18n %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		{% block meta %}
		{% endblock %}
		
		<title>{% block title %}{{ site.name }} | {% trans "Annonces immobilières sans intermédiaires et géolocalisées" %}{% endblock %}</title>
		{% comment %}
		<link rel="SHORTCUT ICON" href="{{ STATIC_URL }}favicon.ico">
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/base.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/sticky_footer.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/core.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/font.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/form.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 970px)" href="{{ STATIC_URL }}css/large-style.css" />
		<link rel="stylesheet" type="text/css" media="screen and (max-width: 790px)" href="{{ STATIC_URL }}css/small-style.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 790px) and (max-width:970px)" href="{{ STATIC_URL }}css/medium-style.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/{{ site }}.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder-enhanced.min.js"  charset="utf-8"></script>
		{% endcomment %}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		{% comment %} twitter-bootstrap {% endcomment %}
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
		
		<style type="text/css"> 
			body {padding-top:50px; padding-bottom:40px}
			#map {height: 300px;}
			#map label { width: auto; display:inline; }
			#map img { max-width: none; }
			caption {text-align:left}
		</style>
		
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"  charset="utf-8"></script>
		
		{% block media %}
		{% endblock %}
		
		{% block javascript %}
		{% endblock %}
		
		{% block css %}
		{% endblock %}
		
		{% comment %}
		<script src="{{ STATIC_URL }}js/prefixfree.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
		<script src="{{ STATIC_URL }}js/html5.js"></script>
		<![endif]-->
		{% endcomment %}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount','{{ Account }}']);
		  _gaq.push(['_setDomainName', '{{ DomainName }}']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					{% include 'site_title.html' %}
					<ul class="nav pull-right">
						{% if user.is_authenticated %}
						<li><a href="{% url userena_profile_detail user.username %}" class="focus">{% trans "Mon compte" %}</a></li>
						<li><a href="{% url userena_signout %}">{% trans "Se Déconnecter" %}</a></li>
						{% else %}
						<li><a href="{% url userena_signup %}" class="focus">{% trans "S'Inscrire" %}</a></li>
						<li><a href="{% url userena_signin %}">{% trans "Se Connecter" %}</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{% block site %}
			{% endblock site %}
		</div>
    <div class="navbar navbar-fixed-bottom">
			<div class="navbar-inner">
				<div class="container">
			<p class="navbar-text pull-left">© 2011 {{ site.name }}</p>
			<ul class="nav pull-right">
				<li><a href="/a-propos/">{% trans "En savoir plus" %}</a></li>
				<li><a href="/legal/">{% trans "Mentions légales" %}</a></li>
				<li><a href="/cgu/">{% trans "Conditions d'utilisation" %}</a></li>
			</ul>
				</div>
			</div>
    </div>


	</body>
</html>