Cher {{ user_profile.user.email }}, 

Voici une sélection de nouveaux biens correspondant à votre recherche: 


{% for ad in ads %}
{{ ad.get_habitation_type_display }}, {{ ad.price }} €, {{ ad.surface }} m², {{ ad.nb_of_rooms }} pièces, {{ ad.nb_of_bedrooms }} chambre{{ ad.nb_of_bedrooms|pluralize }}
http://www.achetersanscom.com{% url view ad.id %} 

{% endfor %}

Pour supprimer cette alerte email ou cette recherche, allez dans votre espace personnel sur AcheterSansCom.com

Cordialement, 

L'équipe AcheterSansCom