{% extends "base.html" %}
{% load ads_tag %}
{% load i18n %}
{% load l10n %}

{% block javascript %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="http://openlayers.org/dev/OpenLayers.js"></script>
	<script>
	$(document).ready(function(){
		/*
		map = create_map('map');
		var lonlat = new OpenLayers.LonLat({{ profile.location.coords.0|unlocalize }}, {{ profile.location.coords.1|unlocalize }})
		lonlat.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
		console.log(lonlat)
		center_map(map, {{ profile.location.coords.0|unlocalize }}, {{ profile.location.coords.1|unlocalize }})
		add_marker(map, {{ profile.location.coords.0|unlocalize }}, {{ profile.location.coords.1|unlocalize }})
    	*/
		map = new OpenLayers.Map('map', 
					{
						projection: new OpenLayers.Projection('EPSG:900913'), 
						displayProjection: new OpenLayers.Projection('EPSG:4326'),
					}
				);

		renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
		renderer = (renderer) ? [renderer] : OpenLayers.Layer.Vector.prototype.renderers; 
		var gmap = new OpenLayers.Layer.Google(
	    	"Google Streets", // the default
	    	{numZoomLevels: 20, sphericalMercator: true}
		);
		map.addLayer(gmap);
		var lonlat = new OpenLayers.LonLat({{ profile.location.coords.0|unlocalize }}, {{ profile.location.coords.1|unlocalize }})
		map.setCenter(lonlat, 12);
		
		layer_style = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);
		layer_style.fillOpacity = 0.2;
		layer_style.graphicOpacity = 1; 

		vectorLayer = new OpenLayers.Layer.Vector("Simple Geometry", {
			style: layer_style,
			renderers: renderer,
			displayInLayerSwitcher: false,
		}); 
		
		map.addLayer(vectorLayer);

		var style_blue = OpenLayers.Util.extend({}, layer_style);
		style_blue.strokeColor = "blue";
		style_blue.fillColor = "#3BB9FF";
		style_blue.graphicName = "circle";
		style_blue.pointRadius = 7;
		style_blue.strokeWidth = 2;
		style_blue.strokeLinecap = "butt";

		var point = new OpenLayers.Geometry.Point({{ profile.location.coords.0|unlocalize }}, {{ profile.location.coords.1|unlocalize }});
		var pointFeature = new OpenLayers.Feature.Vector(point,null,style_blue); 
		vectorLayer.addFeatures([pointFeature])
	});
	</script>
{% endblock %}

{% block css %}
<style type="text/css">
.olMap{
	width:100%;
	height:350px;
}
</style>
{% endblock %}

{% block content %}
<div id="userena_profile_detail">
  {% if user.username == profile.user.username %}
	{% include "userena/menu_snippet.html" %}
  {% endif %}

<div id="block_content">

<div class="atom">
	<h2>{{ profile.user.username }}</h2>
	<p>
		{% if profile.phone_number %}Téléphone : {{ profile.phone_number }}<br />{% endif %}
		{% if profile.birthdate %}{{ profile.birthdate }}<br />{% endif %}
		
		<div id="map_container"><div id="map" class="smallmap"></div></div>
	</p>
</div>

{% if ads %}
<div class="atom">
	<h3>Bien en ventes</h3>
	<table>
		{% for ad in ads %}
		<tr>
			<td><a href="{% url view ad.id %}">{% include 'ads/resume.html' %}</a> </td>
		</tr>
		{% endfor %}
	</table>
</div>
{% else %}
<div class="atom">
	{% ifequal user.username profile.user.username %}
	<h3>Vous n'avez aucun bien en vente sur le site</h3>
	<p>Pour ajouter un bien en vente, cliquez <a href="{% url add %}">ici</a>.</p>
	{% endifequal %}
</div>
{% endif %}

{% if all_user_ads %}
<div class="atom">
<h3>Vos biens en ventes et/ou en cours de traitement</h3>
<table>
{% for ad in all_user_ads %}
	<tr class="status_{{ ad.moderated_object.moderation_status}}">
		<td>{{ ad.moderated_object.get_moderation_status_display }} </td>
		<td><a href="{% url view ad.id %}">{% include 'ads/resume.html' %}</a></td>
		<td><a href="{% url edit ad.id %}" class="pill button"><span class="pen icon"></span>Editer</a></td>
		<td><a href="{% url delete ad.id %}" class="negative pill button"><span class="cross icon"></span>Supprimer</a></td>
	</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% if searchs %}
<div class="atom">
	<h3>Recherches</h3>
	<table>
	{% for search in searchs %}
		<tr>
			<td><a href="{% url search search.id %}" class="button">
				<span class="magnifier icon"></span>{{ search.create_date }} - {{ search }}
			</a>
			</td>
			<td>
			<a href="{% url delete_search search.id %}" class="negative button">
				<span class="trash icon"></span>Supprimer cette recherche
			</a>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endif %}
</div>

</div>

{% endblock %}