{% extends "base-menupage.html" %}
{% load ads_tag %}
{% load i18n %}
{% load l10n %}

{% block title %}{{ site.name }} | Mon compte{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		$('.delete').click(function(evt){
			if (confirm("Voulez-vous vraiment supprimer cette annonce ?")) {
				window.location.href = $(this).attr('href')
 			}
			return false;
		})	
	})
</script>
{% endblock %}

{% block main_menu %}
{% endblock %}

{% block content %}
<div style='border-top-left-radius:10px;padding:20px; padding-top:1px'>
	{% if user.username == profile.user.username %}
		{% comment %}{% include "userena/menu_snippet.html" %}{% endcomment %}
	{% endif %}


	{% if user.username == profile.user.username %}
	<ul id="box-nav">
	    <li class="first selected"><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'View profile' %}</span></a></li>
	    <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit profile" %}</a></li>
	    <li class=""><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
	    <li class="last"><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>
	  </ul>
	  {% endif %}

{% if user.is_authenticated %}

{% ifequal user.username profile.user.username %}

<h3>Vos informations personnelles</h3>

<div class="inside">
	<p>
		<b>Adresse email</b> : {{ user.email }} {% comment %}(<a class="" href="{% url userena_email_change user.username %}" id="userena_email_change_menu_item">modifier</a>){% endcomment %}
	</p>
	<div class="adson">
		Votre adresse email ne sera visible qu'en cas de contact avec un utilisateur possédant un compte sur ce site.
	</div>
	
	{% if profile.phone_number %}
	<p><b>Téléphone</b> : {{ profile.phone_number }} (<a class="" href="{% url userena_profile_edit user.username %}" id="userena_profile_edit_menu_item">modifier</a>)
		
	</p>
	<div class="adson">
		Votre numéro de téléphone est visible sur l'annonce de votre bien mis en vente par les utilisateurs du site AcheterSansCom.
	</div>
	{% else %}
	<p><b>Téléphone</b> : Non renseigné, <a class="" href="{% url userena_profile_edit user.username %}" id="userena_profile_edit_menu_item">ajouter votre téléphone</a>
		
	</p>
	{% if all_user_ads %}
	<div class="adson">
		Les acheteurs ne peuvent vous contacter que par message électronique.
	</div>
	{% endif %}
	{% endif %}
	
	<p><b>Alertes email</b> : 
	{% if profile.email_alert %}
		<a class="" href="{% url userena_profile_edit user.username %}">Me désabonner</a>
	</p>
	<div class="adson">
		Vous êtes abonné aux alertes email : vous recevrez un mail lorsque de nouvelles offres correspondront à Vos Recherches.
	</div>
	{% else %}
		<a class="" href="{% url userena_profile_edit user.username %}">M'abonner</a>
		</p>
	<div class="adson">
	Vous n'êtes pas abonné aux alertes email pour vos recherches.
	</div>
		{% endif %}


	<p><b>Mot de passe</b> : 
		<a class="" href="{% url userena_password_change user.username %}" id="userena_password_change_menu_item">{% trans "Change password" %}</a>
	</p>

</div>

{% endifequal %}

{% endif %}

{% if all_user_ads %}
<h3>Vos Biens</h3>
<table class="list">
{% for ad in all_user_ads %}
    {% if ad.delete_date == None %}
	<tr class="{% cycle 'even' 'odd' %}" class="status_{{ ad.moderated_object.moderation_status}}" >
		<td >{% if ad.moderated_object.moderation_status == 1 %}<a href="{% url view ad.slug %}">{% endif %}
			{% include 'ads/resume.html' %}
			{% if ad.moderated_object.moderation_status == 1 %}</a>{% endif %}
		</td>
		<td >
			{% if ad.moderated_object.moderation_status == 0 %}Annonce rejetée. Modifiez-la pour la soumettre de nouveau.{% endif %}
			{% if ad.moderated_object.moderation_status == 1 %}Annonce en ligne{% endif %}
			{% if ad.moderated_object.moderation_status == 2 %}Annonce en cours de modération{% endif %}
		</td>
		<td ><a href="{% url edit ad.id %}">Modifier</a></td>
		<td ><a href="{% url delete ad.id %}" class="delete">Supprimer</a></td>
	</tr>
	{% endif %}
{% endfor %}
</table>
{% else %}
	{% if ads %}
		<h3>Biens de ce vendeur</h3>
		<table class="{% cycle 'even' 'odd' %}" class="list">
			{% for ad in ads %}
			{% if ad.moderated_object.moderation_status == 1 and ad.delete_date == None %}
			<tr>
				<td><a href="{% url view ad.slug %}">{% include 'ads/resume.html' %}</a> </td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
	{% else %}
		{% ifequal user.username profile.user.username %}
		<h3 class="extended_title">Biens en vente</h3>
		<p>Vous n'avez aucun bien en vente visible sur le site.
		<br />Pour ajouter un bien en vente, cliquez <a href="{% url add %}">ici</a>.</p>
		{% endifequal %}
	{% endif %}
{% endif %}

{% if searchs %}
	<h3>Vos Recherches</h3>
	<table  class="list">
	{% for search in searchs %}
		<tr class="{% cycle 'even' 'odd' %}">
			<td><a href="{% url search search.id %}" class="button">
				{% autoescape off %}{{ search }}{% endautoescape %}
			</a>
			</td>
			<td>
			<a href="{% url delete_search search.id %}" class="negative button">
				Supprimer cette recherche
			</a>
			</td>
		</tr>
	{% endfor %}
	</table>
<p  class="adson inside" style="margin-top:5px">
{% if profile.email_alert %}
Pour ne plus recevoir les alertes email, <a class="" href="{% url userena_profile_edit user.username %}">modifiez votre profil</a>.
{% else %}
Pour recevoir les alertes email lorsque de nouvelles offres correspondront à Vos Recherches, <a class="" href="{% url userena_profile_edit user.username %}">modifiez votre profil</a>.
{% endif %}
</p>
{% else %}
<h3 class="extended_title">Vos Recherches</h3>
<p>Vous n'avez aucune recherche enregistrée.</p>
{% endif %}


</div>
{% endblock %}