{% extends "base-menupage.html" %}
{% load ads_tag utils_tags i18n crispy_forms_tags %}

{% block title %}
	{{ site.name }} | {% trans "Proposer un bien" %}
{% endblock %}

{% block media %}
	{{ form.media }}
{% endblock %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/edit_form.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block messages %}
	{% if messages %}
		{% for message in messages %}
		<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{% autoescape off %}{{ message }}{% endautoescape %}</div>
		{% endfor %}
	{% endif %}
	{% if form.errors %}
	<div class="alert alert-error">
		{% trans "Le formulaire comporte des erreurs, indiquées ci-dessous en rouge. Veuillez les corriger et soumettre à nouveau votre annonce." %}
	</div>
	{% endif %}
{% endblock messages %}

{% block menu %}
	{% include 'geoads/menu.html' with selected=2 only %}
{% endblock menu %}

{% block content %}
	<div class="row">
	
	<div class="span8 offset2">
	<div class="alert alert-info">
		{% blocktrans %}
		Les champs obligatoires sont identifiés par une <span class="important_red">*</span>.
		<br />Nous vous conseillons de renseigner le maximum de champs, 
		d'être exhaustif dans votre description et de fournir un plan de votre bien et plusieurs photos.
		En effet, les acheteurs sont plus attirés par les biens pour lesquels la description est complète 
		et seront mieux à même de cibler les biens susceptibles de vraiment correspondre à leurs besoins. 
		Les acheteurs qui vous contacteront seront ainsi les plus susceptibles d'être vraiment intéressés 
		par votre bien, cela vous évitera de nombreux appels passés à titre informatifs ou des visites 
		superflues qui auront peu de chance d'aboutir.	 
		{% endblocktrans %}
	</div>
	<form action="" method="POST" class="well form-horizontal" enctype="multipart/form-data">
		{% crispy form %}
		<fieldset class="atom house apartment parking others" id="pictures">
			<legend>Photos</legend>
			<div class="alert alert-info">N'hésitez pas à insérer une photo du plan de votre bien.</div>
			{{ picture_formset.management_form }}
			{% for picture_form in picture_formset %}
				{% crispy picture_form %}
			{% endfor %}
		</fieldset>
	</form>
	
	</div>
	</div>
	
{% endblock content %}