{% extends "base-menupage.html" %}
{% load l10n pagination_tags sorting_tags ads_tag utils_tags compress form_utils_tags i18n %}
{% load crispy_forms_tags %}

{% block media %}	
{{ filter.form.media.css }}
{{ filter.form.media.js }}
<script src="{{ STATIC_URL }}js/search_form.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/map-interaction.js" type="text/javascript" charset="utf-8"></script>
{% endblock media %}

{% block messages %}
{% if initial_ads %}

<div class="alert hidden-phone" style="background-color:transparent;color:black;">
	<h2 id='subtitle'>{% blocktrans %}Annonces immobilières<br/> <b>sans intermédiaires</b> & <b>géolocalisées</b>{% endblocktrans %}</h2>
</div>

{% else %}

{% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
{% autoescape off %}{{ message }}{% endautoescape %}
</div>
{% endfor %}
{% endif %}

{% endif %}

{% if ad_search_form and user.is_authenticated %}
<div class="alert alert-info">
<form method="POST" action="" class="form-inline" style="margin:0">
	{{ ad_search_form }}
	{% csrf_token %}
	<input type="submit" class="btn btn-primary" value="Enregistrer la recherche" />
</form>
</div>
{% endif %}

{% endblock messages %}

{% block menu %}
{% include 'geoads/menu.html' with selected=1 only %}
{% endblock menu %}

{% block content %}
<div style="box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);" >
	<div class="row" >
		<div class="span12" id="search_header">
			<div class="row" >
				<div class="span7">
					<div class="custom-well">
						<ol class="home_help_text">
							<li>{% blocktrans %}
								<form class="form-inline form-search" style="margin:0 0 0">
									<label style="">Centrer la carte sur votre <a id="localize" class="btn" href="javascript:localizeMe()" data-loading-text="localisation en cours …">localisation actuelle</a> ou </label>
								 <div class="input-append">
									<input type="text" class="span2 search-query" id="address" placeholder="indiquer une adresse">
									<button type="submit" id="center_map" class="btn" data-loading-text="en cours …">
										Centrer
									</button>
								</div>
							</form>
								{% endblocktrans %}
							</li>
							<li>{% blocktrans %}Cliquer sur <div style="width:20px;float:none;display:inline-block;vertical-align:middle" class="leaflet-control-draw leaflet-control"><a class="leaflet-control-draw-polygon" href="#" title="undefined"></a></div> pour dessiner votre zone de recherche{% endblocktrans %}</li>
						</ol>
					</div>
				</div>
				<div class="span5">
					<div class="custom-well">
						<!-- form="search" is html5 way to submit form without putting it inside form tag-->
						<button form="search" type="submit" value="search" class="btn btn-primary btn-large" id="search_button">
							3. {% trans "Rechercher un bien" %}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="span12" >
			<form action="{% if search_id %}{% url search search_id %}{% else %}{% url search %}{% endif %}" method="GET" id="search" class="form-horizontal" >
			{% comment %}below search form and results {% endcomment %}
			{% crispy filter.form %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
