{% extends "base-menupage.html" %}
{% load l10n pagination_tags sorting_tags ads_tag utils_tags compress form_utils_tags i18n %}
{% load crispy_forms_tags %}

{% block media %}	
	{{ filter.form.media.css }}
	{{ filter.form.media.js }}
	<script src="{{ STATIC_URL }}js/search_form.js" type="text/javascript" charset="utf-8"></script>
{% endblock media %}



{% block messages %}
	{% if search %}
		{% if messages %}
				{% for message in messages %}
				<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
					{% autoescape off %}{{ message }}{% endautoescape %}
				</div>
				{% endfor %}
		{% endif %}
	{% else %}
		<div class="alert alert-info">
			<h2>{% blocktrans %}Annonces immobilières <b>sans intermédiaires</b> & <b>géolocalisées</b>{% endblocktrans %}</h2>
		</div>
	{% endif %}
{% endblock messages %}

{% block menu %}
	{% include 'geoads/menu.html' with selected=1 only %}
{% endblock menu %}

{% block content %}
<form action="{% url search %}" method="POST" id="search" class="form-horizontal" style="box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);" >
<div class="row" >
	<div class="span12" style="background-color:#FFB82E">
		<div class="row" >
			<div class="span7">
				<div class="custom-well">
				<ol class="home_help_text">
					<li>{% blocktrans %}Centrer la carte sur votre <a id="localize" class="btn" href="javascript:localizeMe()">localisation actuelle</a> ou <input type="text" class="search-query span2" id="address" placeholder="indiquer une adresse"/><input type="button" id="center_map" value="centrer la carte"/>{% endblocktrans %}</li>
					<li>{% blocktrans %}Cliquer sur <img src="{{ STATIC_URL }}img/drawing.png" class="draw-icon" alt="draw-icon" /> pour dessiner votre zone de recherche{% endblocktrans %}</li>
				</ol>
				</div>
			</div>
			<div class="span5">
				<div class="custom-well">
				<button type="submit" value="search" class="btn" name="search" id="search_button">
					3. {% trans "Rechercher" %}
				</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" >
	<div class="span12" >
	{% comment %}below search form and results {% endcomment %}
	{% crispy filter.form %}
	</div>
</div>
</form>
{% endblock %}



