{% extends "base-simplepage.html" %}
{% load ads_tag utils_tags i18n %}

{% block title %}{{ site.name }} | Annonce en cours de traitement{% endblock %}

{% block content %}
<div class="alert alert-info">
	<h2>Annonce en cours de validation</h2>
	<p>
		{% url userena_profile_detail user.username as url %}
		{% blocktrans %}
		Votre annonce a été enregistrée, elle va être modérée.<br />
		Vous serez informé de sa mise en ligne dans quelques instants.<br />
		Vous pouvez toujours modifier votre annonce depuis <a href="{{ url }}">votre compte</a>.
		{% endblocktrans %}
	</p>
</div>
{% endblock content %}