{% load i18n crispy_forms_tags utils_tags %}
{% if sent_mail %}
{% else %}
<div id="message_block">
{% if user.is_authenticated %}
	<form  action="" method="POST" class="form-horizontal">
		<h4>{% trans "Contacter le vendeur" %}</h4>
		{% csrf_token %}
		{{ contact_form|crispy }}
		<div class="form-actions">
			<button class="btn btn-primary" type="submit">{% trans "Envoyer votre message" %}</button>
		</div>
	
		<div>
			{% if ad.user.my_profile.phone_number %}
			<b>{% trans "Téléphone du vendeur" %}</b> : 
			{{ ad.user.my_profile.phone_number }}<br />
			{% endif %}
		</div>
	</form>
	
{% else %}
	<div class="content">
		<p>{% trans "Pour contacter le vendeur" %}, <a href="{% url userena_signup %}">{% trans "inscrivez-vous" %}</a> {% trans "ou" %} <a href="{% url userena_signin %}">{% trans "connectez-vous" %}</a> !</p>
	</div>
{% endif %}
</div>
{% endif %}

<div class="lister vcard">
  {% if ad.user.my_profile.phone_number %}
  <abbr title="{{ ad.user.my_profile.phone_number }}" class="tel"></abbr>
  {% endif %}
  <abbr title="{{ ad.user.email|email_local_part }}" class="fn"></abbr>
</div>
