{% load i18n crispy_forms_tags utils_tags %}
{% if sent_mail %}
{% else %}
<div id="message_block">
{% if user.is_authenticated %}
	<form  action="" method="POST" >
		{% csrf_token %}
		{% crispy contact_form %}
		<button class="btn btn-large btn-block btn-primary" type="submit">{% trans "Envoyer votre message" %}</button>	
	</form>
		<div>
			{% if ad.user.my_profile.phone_number %}
			<b>{% trans "Téléphone du vendeur" %}</b> : 
			{{ ad.user.my_profile.phone_number }}<br />
			{% endif %}
		</div>
{% else %}
	<div class="alert alert-info">
		{% trans "Pour contacter le vendeur" %}, <a href="{% url userena_signup %}">{% trans "inscrivez-vous" %}</a> {% trans "ou" %} <a href="{% url userena_signin %}">{% trans "connectez-vous" %}</a> !
	</div>
{% endif %}
</div>
{% endif %}

<div class="lister vcard">
  {% if ad.user.my_profile.phone_number %}
  <abbr title="{{ ad.user.my_profile.phone_number }}" class="tel"></abbr>
  {% endif %}
  <abbr title="{{ ad.user.email|email_local_part }}" class="fn"></abbr>
</div>
