{% load i18n %}
{% if ad.floor or ad.orientation or ad.ground_floor or ad.duplex or ad.not_overlooked or ad.ground_surface %}
<h4>{% trans "Situation du logement" %}</h4>
<p>
{% if ad.floor %}
	{{ ad.floor }}<sup>e</sup> {% if ad.top_floor %}({% trans "et dernier" %}){% endif %} étage
	<br />
{% endif %}
{% if ad.ground_floor %}
{% trans "Rez-de-chaussé" %}
<br />
{% endif %}
{% if ad.duplex %}
{% trans "Duplex" %}
<br />
{% endif %}
{% if ad.ground_surface %}
{% trans "Surface du terrain" %} : {{ ad.ground_surface }} m²
<br />
{% endif %}
{% if ad.not_overlooked %}
{% trans "Sans vis-à-vis" %}
<br />
{% endif %}
{% if ad.orientation %}
{%  trans "Orientation" %} : {{ ad.orientation }}
<br />
{% endif %}
</p>
{% endif %}