{% load ads_tag i18n %}
{% if ad.pictures.all %}
    <div id="myCarousel" class="carousel">
    <div class="carousel-inner">
    {% for img in ad.pictures.all %}
    <div class="{% if forloop.counter = 1 %}active{% endif %} item">
    	<img src="{% thumbnail img.image 580 300 %}" rel="#img_{{ img.id }}" {% if img.title %}alt="{{ img.title }}"{% endif %}/>
		<div class="carousel-caption">
			<h4>{% if img.title %}{{ img.title }}{% else %}Photo n°{{forloop.counter}}{% endif %}</h4>
		</div>
    </div>
    {% endfor %}
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
{% endif %}