{% load l10n %}

<style type="text/css">
	#{{ attrs.id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
	#{{ attrs.id }}_map .aligned label { float: inherit; }
	#{{ attrs.id }}_span_map { position: relative; vertical-align: top; float: left; }
	{% if not display_wkt %}#{{ attrs.id }} { display: none; }{% endif %}
	.olControlEditingToolbar .olControlModifyFeatureItemActive {
		background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_on.png");
		background-repeat: no-repeat;
	}
	.olControlEditingToolbar .olControlModifyFeatureItemInactive {
		background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_off.png");
		background-repeat: no-repeat;
	}
</style>

<span id="{{ attrs.id }}_span_map">
	
	<div id="{{ attrs.id }}_map"></div>
	<div>
	<a href="javascript:{{ module }}.clearFeatures()" style="float:right">Effacer la zone de recherche</a>
	Entrer une adresse pour centrer la carte : <input type="text" id="address" /><input type="button" id="center_map" value="centrer la carte" />
	</div>
	{% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
	{% include "floppyforms/textarea.html" %}
	<script type="text/javascript">
		{% block map_options %}var map_options = {};{% endblock %}
		{% block options %}var options = {
			geom_type: OpenLayers.Geometry.{{ geom_type }},
			id: '{{ attrs.id }}',
			is_collection: {{ is_collection|yesno:"true,false" }},
			is_linestring: {{ is_linestring|yesno:"true,false" }},
			is_point: {{ is_point|yesno:"true,false" }},
			is_polygon: {{ is_polygon|yesno:"true,false" }},
			map_id: '{{ attrs.id }}_map',
			map_options: map_options,
			map_srid: {{ map_srid }},
			name: '{{ name }}',
			default_lat: 48,
			default_lon: 2
		};{% endblock %}
		
		var {{ module }} = new MapWidget(options);
		var geocoder = new google.maps.Geocoder();
		
		

		
		
		{% if ads %}
			
			add_layer({{ module }}.map)
			function add_home(coord_0, coord_1, href){
				mark = add_marker({{ module }}.map, coord_0, coord_1);
				mark.href = href
			}
			
			{% for ad in ads %}
				/*
				mark = add_marker({{ module }}.map, {{ ad.location.coords.0|unlocalize }}, {{ ad.location.coords.1|unlocalize }});
				mark.href = '{% url view ad.id %}'
				
				html = '<h2>{{ ad.title|escapejs }}</h2> {{ ad.price|escapejs }}€, {{ ad.surface|escapejs }}m<sup>2</sup>, {{ ad.nb_of_rooms|escapejs }} pièces <br /> <a href="{% url view ad.id %}" target="_blank">détail</a>'
				popup = new OpenLayers.Popup("ad_{{ ad.id }}", 
											new OpenLayers.LonLat(
												{{ ad.location.coords.0|unlocalize }},
												{{ ad.location.coords.1|unlocalize }}), 
												new OpenLayers.Size(200,200), html, true
											);
				mark.popup = popup
				{{ module }}.map.addPopup(popup);
				popup.hide()
				*/	
					
			{% endfor %}
			{{ module }}.panel.addControls([new OpenLayers.Control.SelectFeature(
												{{ module }}.map.ads_layer, 
												{
													clickFeature: function(feature){
														$('a.ajax[href="'+feature.href+'"]').trigger('click')
													}
												}
											)
											]);
		{% else %}

		{% endif %}

		{% if search %}
		{% else %}
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var lonlat = new OpenLayers.LonLat(position.coords.longitude, position.coords.latitude)
					lonlat.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
					{{ module }}.map.setCenter(lonlat, 12);
				});
			}else{
				
			}
		{% endif %}
				
		$("#center_map").hide()
		$("#center_map").click(function(evt){
			var address = document.getElementById("address").value;
			if (geocoder) {
				geocoder.geocode( { 'address': address}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					var lon = results[0].geometry.location.lng()
					var lat = results[0].geometry.location.lat()
					var lonlat = new OpenLayers.LonLat(lon, lat)
					lonlat.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
					{{ module }}.map.setCenter(lonlat, 12);
				} 
				else 
				{
					//alert("Geocode was not successful for the following reason: " + status);
				}
			});
			}			
		})
		$('#address').keyup(function(evt){$("#center_map").trigger('click')})
	</script>
</span>
