{% load l10n %}

<style type="text/css">
	#{{ attrs.id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
	#{{ attrs.id }}_map .aligned label { float: inherit; }
	#{{ attrs.id }}_span_map { position: relative; vertical-align: top; float: left; }
	{% if not display_wkt %}#{{ attrs.id }} { display: none; }{% endif %}
</style>

<span id="{{ attrs.id }}_span_map">
	<script type="text/javascript">
	localizeMe = function(){
		if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var lonlat = new OpenLayers.LonLat(position.coords.longitude, position.coords.latitude)
					lonlat.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
					{{ module }}.map.setCenter(lonlat, 12);

				});
			}else{				
		}
	}
	$(document).ready(function(){	
		$("#address").keypress(function(e) {
    			if (e.which == 13) {
    				return false;
    			}
    	});
		$('#address').focus(function(evt){
			$(this).val('')
		})
	})
	</script>	
	<div id="map_container">
		<div id="map_utils">	
			<!-- <a href="javascript:{{ module }}.clearFeatures()" style="float:right"> Effacer la zone </a> -->
			Centrer la carte sur votre <a href="javascript:localizeMe()">localisation actuelle</a> ou <input type="text" id="address" placeholder="indiquer une adresse"/> <input type="button" id="center_map" value="centrer la carte" />
		</div>
		<div id="{{ attrs.id }}_map"></div>
	</div>
	{% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
	{% include "floppyforms/textarea.html" %}
	


	<script type="text/javascript">
		{% block map_options %}var map_options = {};{% endblock %}
		{% block options %}
		
		map_options.controls = [
									new OpenLayers.Control.Navigation(),
									new OpenLayers.Control.ArgParser(),
									new OpenLayers.Control.Attribution(),
									new OpenLayers.Control.ZoomPanel()
								]	
		var options = {
			geom_type: OpenLayers.Geometry.{{ geom_type }},
			id: '{{ attrs.id }}',
			is_collection: {{ is_collection|yesno:"true,false" }},
			is_linestring: {{ is_linestring|yesno:"true,false" }},
			is_point: {{ is_point|yesno:"true,false" }},
			is_polygon: {{ is_polygon|yesno:"true,false" }},
			has_results: {% if ads %}true{% else %}false{% endif %},
			map_id: '{{ attrs.id }}_map',
			map_options: map_options,
			map_srid: {{ map_srid }},
			name: '{{ name }}',
			default_lat: 48.858,
			default_lon: 2.333, 
			default_zoom:12,
			theme: null
		};{% endblock %}
		
		var {{ module }} = new MapWidget(options);
		{% if ads %}
		{{ module }}.map.getControlsByClass('OpenLayers.Control.SelectFeature')[1].deactivate();
		{{ module }}.map.getControlsByClass('OpenLayers.Control.SelectFeature')[0].activate();
		{% endif %}
		$('.olControlModifyFeatureItemActive').addClass('olControlModifyFeatureItemInactive').removeClass('olControlModifyFeatureItemActive')
		var geocoder = new google.maps.Geocoder();


		$("#center_map").hide()
		$("#center_map").click(function(evt){
			var address = document.getElementById("address").value;
			if (geocoder) {
				geocoder.geocode( { 'address': address}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					var lon = results[0].geometry.location.lng()
					var lat = results[0].geometry.location.lat()
					var lonlat = new OpenLayers.LonLat(lon, lat)
					lonlat.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
					{{ module }}.map.setCenter(lonlat, 12);
				} 
				else 
				{
					//alert("Geocode was not successful for the following reason: " + status);
				}
			});
			}			
		})
		$('#address').keyup(function(evt){$("#center_map").trigger('click')})
		

			var layer_style = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);
			layer_style.fillOpacity = 0.2;
			layer_style.graphicOpacity = 1; 

			var style_blue = OpenLayers.Util.extend({}, layer_style);
			style_blue.strokeColor = "blue";
			style_blue.fillColor = "#3BB9FF";
			style_blue.graphicName = "circle";
			style_blue.pointRadius = 10;
			style_blue.strokeWidth = 2;
			style_blue.strokeLinecap = "butt";
			style_blue.externalGraphic = "/static/img/home_icon.png";
			
			function add_home(coord_0, coord_1, href, classname){
				var point = new OpenLayers.Geometry.Point(coord_0, coord_1);
				point.transform({{ module }}.map.displayProjection, {{ module }}.map.projection);
				var pointFeature = new OpenLayers.Feature.Vector(point,null,style_blue); 
				pointFeature.classname = classname
				pointFeature.coord_0 = coord_0
				pointFeature.coord_1 = coord_1
				{{ module }}.layers.ads.addFeatures([pointFeature])
			}
			
			function center_map(coord_0, coord_1){
				var lonlat = new OpenLayers.LonLat(coord_0, coord_1)
				{{ module }}.map.setCenter(lonlat, 12);
			}
			
			function open_popup(coord_0, coord_1, classname){
				popup = new OpenLayers.Popup(classname, 
											new OpenLayers.LonLat(
											coord_0,
											coord_1), 
											new OpenLayers.Size(350,50), 
											'html', 
											true
											);
				popup.panMapIfOutOfView = true
				popup.contentHTML = $('.'+classname).html()
				{{ module }}.map.addPopup(popup);
			}


		{% if search %}
		{% else %}
			/*
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var lonlat = new OpenLayers.LonLat(position.coords.longitude, position.coords.latitude)
					lonlat.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
					{{ module }}.map.setCenter(lonlat, 12);
				});
			}else{
				
			}
			*/
		{% endif %}
				

	</script>
</span>
