{% load i18n %}
<table>

{{ form.non_field_errors }}
 {% for field in form %}
 {% comment %} Displaying checkboxes differently {% endcomment %}
 {% if field.name == 'remember_me' %}
 <tr class="checkbox">
	<td></td>
	<td><label for="id_{{ field.name }}">{{ field }} <span style="font-size:0.9em;font-weight:bold;">{{ field.label }}</label></td>
 </tr>
 {% else %}
	 <tr>
		<th>
			{{ field.label_tag }}
		</th>
		<td>
			{{ field }}
			{% if field.errors %}
			<br /><span class="error">{% for error in field.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
			{% if field.name == 'password' %}
			<br />
			<span style="font-size:0.9em; padding-left:6px;"><a href="{% url userena_password_reset %}"  title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a></span>
			{% endif %}
			
		</td>
	 </tr>
 {% endif %}
 {% endfor %}





<tr class="last">
	<td></td>
	<td><input type="submit" value="{{ submit }}" /></td>
</tr>
	
</table>
