{% load i18n %}
{% load utils_tags %}

<table>
	{{ form.non_field_errors }}
	{% for field in form %}
	{% comment %} Displaying checkboxes differently {% endcomment %}
	{% if field.field.widget|widget_type == 'CheckboxInput' %}
	<tr class="checkbox" {% if field.name == "remember_me" %}style="display:none"{% endif %}>
		<td>
		</td>
		<td>
			<label for="id_{{ field.name }}">
				{{ field }} 
				<span class="checkbox_label" >
				{{ field.label }}
			</label>
		</td>
	</tr>
	{% else %}
	 <tr>
		<th>
			{{ field.label_tag }}
		</th>
		<td>
			{% if field.field.required %}<div class="required_class" style="float:right">*</div>{% endif %}
			<span>{{ field }}</span>
			{% if field.help_text %}<br />{% autoescape off %}<span class="help">{{ field.help_text }}</span>{% endautoescape %}{% endif %}
			{% if field.errors %}
			<br /><span class="error">{% for error in field.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
			{% if field.name == 'password' %}
			<br />
			<span style="font-size:0.9em; padding-left:6px;"><a href="{% url userena_password_reset %}"  title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a></span>
			{% endif %}
			
		</td>
	</tr>
	{% endif %}
	{% endfor %}
	<tr class="last">
		<td></td>
		<td><input type="submit" value="{{ submit }}" /></td>
	</tr>
</table>
<div style="color:red; font-size:0.9em;color:#555"><i>Les champs marqués par une <span style="color:red">*</span> sont obligatoires</i></div>
