{% load i18n %}
<div id="main_menu">
   <a href="{% url search %}" class="main_menu_item_unselected">Rechercher un bien</a>
   <a href="{% url add %}" class="main_menu_item_unselected" >Proposer un bien</a>
   <a class="main_menu_item_unselected" href="{% url userena_profile_detail user.username %}" id="userena_profile_detail_menu_item">{% trans 'View profile' %}</a>
   <a class="main_menu_item_unselected" href="{% url userena_profile_edit user.username %}" id="userena_profile_edit_menu_item">{% trans "Edit profile" %}</a>
   <a class="main_menu_item_unselected" href="{% url userena_password_change user.username %}" id="userena_password_change_menu_item">{% trans "Change password" %}</a>
   <a class="main_menu_item_unselected" href="{% url userena_email_change user.username %}" id="userena_email_change_menu_item">{% trans "Change email" %}</a>
</div>
