{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}{% endblock %}

{% block content %}

<div id="userena_password_change">

{% include "userena/menu_snippet.html" %}

<form action="" method="post" id="password_change_form" class="pretty_form">
	<div class="form">
		<h2 class="hightlight_title">{% trans "Change Password" %}</h2>
<fieldset>
    
    {% csrf_token %}
    {% include "userena/form_snippet.html" with submit="Modifier votre mot de passe" %}
  </fieldset>
</div>
</form>

</div>

{% endblock %}
