{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}{% endblock %}

{% block content %}

<div id="userena_password_change">

{% include "userena/menu_snippet.html" %}

<form action="" method="post" id="password_change_form">
  <fieldset>
    <legend>{% trans "Change Password" %}</legend>
    {% csrf_token %}
    {% include "userena/form_snippet.html" %}
  </fieldset>
  <input type="submit" value="{% trans "Change password" %}" />
</form>

</div>

{% endblock %}
