{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}


<form action="" class="well" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Modifier votre numéro de téléphone" %}</legend>
    {{ form.as_p }}
  </fieldset>
<div class="form-actions">
  <input type="submit" class="btn btn-primary" value="{% trans "Save changes" %}" />
</div>
</form>
{% endblock %}
