{% extends 'userena/profile_form.html' %}
{% load i18n %}

{% block javascript %}
{% endblock %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}
	{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}
{% endblock %}

{% block content %}

<div id="userena_profile_edit">



{% include "userena/menu_snippet.html" %}

<form action="." enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Edit Profile" %}</legend>
    {% include "userena/form_snippet.html" %}
  </fieldset>
  <input type="submit" value="{% trans "Save changes" %}" />
</form>
{% comment %}
TODO: must put form.media below : if I put it in javacript block above : it doesn't work, we have a duplicated map ! :(
{% endcomment %}
{{ form.media }}

</div>
{% endblock %}
