{% extends 'userena/base_userena.html' %}
{% load i18n %}


{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}


<form action="" method="post" class="pretty_form">
	<div class="form">
	<h2 class="hightlight_title">{% trans "Signin" %}</h2>
  	<fieldset>
    <!-- <legend>{% trans "Signin" %}</legend> -->
        {% csrf_token %}
        {% include "userena/form_snippet.html" with submit="Connexion" %}
  	</fieldset>
  
	</div>

	<div class="form_adson">
	  Pour vous inscrire, <a href="{% url userena_signup %}">cliquez-ici</a>.
	</div>

</form>
{% endblock %}
