{% extends 'userena/base_userena.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}


<form action="" class="" method="post">
  {% csrf_token %}

  <fieldset>
    <legend>{% trans "Signin" %}</legend>
  {{ form|crispy }}
  </fieldset>
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="{% trans "Signin" %}" />
  </div>
<div class="alert alert-info"><a href="{% url userena_password_reset %}" title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a></div>
<div class="alert alert-info">Pour vous inscrire, <a href="{% url userena_signup %}">cliquez-ici</a>.</div>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
{% endblock %}
